/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 8vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
}

main {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 3rem;
}

#location-form-container {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#search {
  align-self: flex-start;
}

.container.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  margin-top: 1rem;
}

.container.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.container.data {
  display: flex;
  gap: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5vh;
}

#error {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 3vh;
  padding-top: 5%;;
  padding-left: 2%;
}


/* Style */
body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(0, 64, 128, 1);
  font-weight: bold;
}

#location {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;

  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}

#search {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);

  border-radius: 2px;
  font-size: 1.1rem;
  padding: 0.0rem 0.5rem;
  cursor: pointer;
}

#search:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.data {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.8);
}

.text.location{
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.8);
}

.text.condition {
  font: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

#giphy {
  width: clamp(120px, 40vw, 400px);
  height: clamp(120px, 40vw, 400px);
  object-fit: contain;
  background: rgba(255, 255, 255, 0);
}

footer {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 64, 128, 1);
}

#error {
  color: rgba(150, 20, 20, 1);
}

/* Loader */
#loader-container {
  display: none;
}

#loader-container.show {
  position: fixed;
  top: 45%;
  left: 45%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 10rem;
  height: 7rem;
  background-color: rgba(200,200,200,0.5);
  border-radius: 5px;
}

.loader {
  background: none;
  border: none;

  font-size: 2rem;
  color: rgba(80, 80, 80, 1);
  animation: bounce 1s ease-in-out infinite alternate;;
}

.loader.one { animation-delay: 0s; }
.loader.two { animation-delay: 0.2s; }
.loader.three { animation-delay: 0.4s; }


/* Animate dot size when load */
@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.5); }
  100% { transform: scale(1); }
}

/* Hide the img when first load */
#giphy {
  display: none;
}