/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 3rem;
}

#location-form-container {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#search {
  align-self: flex-start;
}

.container.content {
  display: flex;
  gap: 5rem;
}

.container.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.container.data {
  display: flex;
  gap: 1rem
}



/* Loader */
#loader-container {
  display: none;
}

#loader-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 10rem;
  height: 7rem;
  background-color: rgba(200,200,200,0.5);
  border-radius: 5px;
}

.loader {
  background: none;
  border: none;

  font-size: 2rem;
  color: rgba(80, 80, 80, 1);
  animation: bounce 1s ease-in-out infinite alternate;;
}

.loader.one { animation-delay: 0s; }
.loader.two { animation-delay: 0.2s; }
.loader.three { animation-delay: 0.4s; }


/* Animate dot size when load */
@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.5); }
  100% { transform: scale(1); }
}